﻿<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Chụp hình cưới | Albums :: w3layouts</title>
    <link href="~/Assets/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" /><!-- fontawesome css -->
    <link href="~/Assets/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" /><!-- Bootstrap stylesheet -->
    <link href="~/Assets/css/snow.css" rel="stylesheet" type="text/css" media="all" /><!-- stylesheet -->
    <link href="~/Assets/css/style.css" rel="stylesheet" type="text/css" media="all" /><!-- stylesheet -->
    <!-- meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Wedding Proposer Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //meta tags -->
    <!--fonts-->
    <link href="//fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700" rel="stylesheet">
    <!--//fonts-->
</head>
<body>
    <!-- header -->
    <header>
        <div class="container">
            <!-- nav -->
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="logo">
                            <h1><a href="index.html"><span>WP</span> <div class="logo-img"><img src="~/Assets/images/in-love.png" alt="img09" /></div><p class="sub_title">Wedding Proposer</p> </a></h1>
                        </div>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <nav class="cl-effect-13" id="cl-effect-13">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="/trang-chu">Trang chủ</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dịch vụ chụp ảnh <b class="caret"></b></a>
                                    <ul class="dropdown-menu agile_short_dropdown">
                                        <li><a href="/chup-hinh-cuoi">Chụp hình cưới</a></li>
                                        <li><a href="/dich-vu-chup-hinh-khac">Dịch vụ chụp hình khác</a></li>
                                        <li><a href="/album-cuoi">Album cưới</a></li>
                                        <li><a href="/chan-dung-ngoai-canh">Chân dung ngoại cảnh</a></li>
                                        <li><a href="/anh-da-ngoai">Ảnh dã ngoại</a></li>
                                        <li><a href="/anh-thien-nhien">Ảnh thiên nhiên</a></li>
                                    </ul>
                                </li>
                                <!-- <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
                                    <ul class="dropdown-menu agile_short_dropdown">
                                        <li><a href="icons.html">Icons</a></li>
                                        <li><a href="code.html">Typography</a></li>
                                    </ul>
                                </li> -->
                                <li><a href="/lien-he">Liên hệ</a></li>
                            </ul>

                        </nav>

                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
            <!-- //nav -->
        </div>
    </header>
    <!-- //header -->
    <!-- banner-slider -->
    <div class="w3ls_banner_section second">

    </div>
    <!-- banner-slider -->
    <!-- breadcrumbs -->
    <div class="w3l_agileits_breadcrumbs">
        <div class="container">
            <ul>
                <li><a href="/trang-chu">Trang chủ</a><span>«</span></li>
                <li>Liên hệ</li>
            </ul>
        </div>
    </div>
    <!-- //breadcrumbs -->
    <!--/story-->
    <div class="w3l_inner_section">
        <div class="container">
            <div class="wthree_title_agile">
                <h3>Liên <span>Hệ</span></h3>
                <p><i class="fa fa-heart-o" aria-hidden="true"></i></p>

            </div>
            <p class="sub_para">Liên hệ với chúng tôi</p>
            <div class="inner_w3l_agile_grids">
                <div class="w3ls_footer_grid">
                    <div class="col-md-3 w3ls_footer_grid_left">
                        <div class="w3ls_footer_grid_leftl">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </div>
                        <div class="w3ls_footer_grid_leftr">
                            <h4>Địa chỉ</h4>
                            <p>394/ 1 Âu Cơ phường 10 quận Tân Bình Tp HCM</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="col-md-3 w3ls_footer_grid_left">
                        <div class="w3ls_footer_grid_leftl">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </div>
                        <div class="w3ls_footer_grid_leftr">
                            <h4>Facebook</h4>
                            <a href="https://www.facebook.com/Ảnh-Cưới-Kim-Chi-1809530672641067/">https://www.facebook.com/Ảnh-Cưới-Kim-Chi-1809530672641067/</a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="col-md-3 w3ls_footer_grid_left">
                        <div class="w3ls_footer_grid_leftl">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </div>
                        <div class="w3ls_footer_grid_leftr">
                            <h4>Hotline</h4>
                            <p>(Mr.Ben) 0979 569091</p>
                            <p>0933 678491</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="col-md-3 w3ls_footer_grid_left">
                        <div class="w3ls_footer_grid_leftl">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </div>
                        <div class="w3ls_footer_grid_leftr">
                            <h4>Email</h4>
                            <a href="mailto:thanhcong.tn09@gmail.com">thanhcong.tn09@gmail.com</a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="w3_mail_grids">
                    <form id="frmContact">
                        <div class="col-md-6 w3_agile_mail_grid">
                            <input id="name" type="text" placeholder="Your Name" required="">
                            <input id="email" type="email" placeholder="Your Email" required="">
                            <input id="phone" type="text" placeholder="Your Phone Number" required="">


                        </div>
                        <div class="col-md-6 w3_agile_mail_grid">
                            <textarea id="message" name="Message" placeholder="Your Message" required=""></textarea>
                            <input type="submit" value="Submit">
                        </div>
                        <div class="clearfix"> </div>
                    </form>
                </div>
            </div>
            <div class=" map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12947831.742778081!2d-95.665!3d37.599999999999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited+States!5e0!3m2!1sen!2sin!4v1422444552833"></iframe>
            </div>
        </div>
    </div>


    <!--//story-->
    <!-- footer -->
    <div class="agile-footer">
        <div class="container">
            <div class="aglie-info-logo">

                <div class="banner-mid-wthree"> <a href="index.html" class="hvr-buzz"> <img src="~/Assets/images/couple.png" alt="wp" /></a> </div>
            </div>
            <ul class="aglieits-nav">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="gallery.html">Wedding Albums</a></li>
                <li><a href="icons.html">Icons</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
            <div class="w3_agileits_social_media">
                <ul>

                    <li><a href="#" class="wthree_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="wthree_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="wthree_dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="wthree_behance"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                </ul>
            </div>

            <div class="copy-right">
                <p>© 2017 Wedding Proposer. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
            </div>
        </div>
    </div>
    <!-- //footer -->

    <script type="text/javascript" src="~/Assets/js/jquery-2.1.4.min.js"></script><!-- Required-js -->
    <script src="~/Assets/js/bootstrap.min.js"></script><!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Assets/js/responsiveslides.min.js"></script>
    <script>
        $(function () {
            $('#frmContact').submit(function (e) {
                e.preventDefault();
                var name = $('#name').val();
                var email = $('#email').val();
                var phone = $('#phone').val();
                var message = $('#message').val();
                $.ajax({
                    url: "api/Contact/SendContact",
                    type: 'POST',
                    data: JSON.stringify({ Name: name, Email: email, Phone: phone, Message: message }),
                    contentType: 'application/json',                               
                    success: function (response) {
                        if(response.state === 200)
                            alert("Đã gửi liên hệ thành công!");
                        else
                            alert("Đã gửi liên hệ thất bại!");
                    },
                    error: function (err) {
                        alert("Có lỗi khi gửi mail!");
                    }
                });
            });
        });
    </script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider3").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!-- js -->
    <!-- //main slider-banner -->
    <!-- Countdown-Timer-JavaScript -->
    <script src="~/Assets/js/simplyCountdown.js"></script>
    <script>
        var d = new Date(new Date().getTime() + 948 * 120 * 120 * 2000);

        // default example
        simplyCountdown('.simply-countdown-one', {
            year: d.getFullYear(),
            month: d.getMonth() + 1,
            day: d.getDate()
        });

        // inline example
        simplyCountdown('.simply-countdown-inline', {
            year: d.getFullYear(),
            month: d.getMonth() + 1,
            day: d.getDate(),
            inline: true
        });

        //jQuery example
        $('#simply-countdown-losange').simplyCountdown({
            year: d.getFullYear(),
            month: d.getMonth() + 1,
            day: d.getDate(),
            enableUtc: false
        });
    </script>
    <!-- //Countdown-Timer-JavaScript -->
    <!-- required-js-files-->
    <link href="~/Assets/css/owl.carousel.css" rel="stylesheet">
    <script src="~/Assets/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({
                items: 5,
                itemsDesktop: [768, 4],
                itemsDesktopSmall: [414, 3],
                lazyLoad: true,
                autoPlay: true,
                navigation: true,

                navigationText: false,
                pagination: true,

            });

        });
    </script>
    <!--//required-js-files-->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/Assets/js/move-top.js"></script>
    <script type="text/javascript" src="~/Assets/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- //here ends scrolling icon -->
</body>
</html>