﻿<!-- banner-slider -->
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Chụp hình cưới | Albums :: w3layouts</title>
    <link href="~/Assets/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" /><!-- fontawesome css -->
    <link href="~/Assets/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" /><!-- Bootstrap stylesheet -->
    <link href="~/Assets/css/snow.css" rel="stylesheet" type="text/css" media="all" /><!-- stylesheet -->
    <link href="~/Assets/css/style.css" rel="stylesheet" type="text/css" media="all" /><!-- stylesheet -->
    <!-- meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Wedding Proposer Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //meta tags -->
    <!--fonts-->
    <link href="//fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700" rel="stylesheet">
    <!--//fonts-->
</head>
<body>
    <!-- header -->
    <header>
        <div class="container">
            <!-- nav -->
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="logo">
                            <h1><a href="index.html"><span>WP</span> <div class="logo-img"><img src="~/Assets/images/in-love.png" alt="img09" /></div><p class="sub_title">Wedding Proposer</p> </a></h1>
                        </div>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <nav class="cl-effect-13" id="cl-effect-13">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="/trang-chu">Trang chủ</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dịch vụ chụp ảnh <b class="caret"></b></a>
                                    <ul class="dropdown-menu agile_short_dropdown">
                                        <li><a href="/chup-hinh-cuoi">Chụp hình cưới</a></li>
                                        <li><a href="/dich-vu-chup-hinh-khac">Dịch vụ chụp hình khác</a></li>
                                        <li><a href="/album-cuoi">Album cưới</a></li>
                                        <li><a href="/chan-dung-ngoai-canh">Chân dung ngoại cảnh</a></li>
                                        <li><a href="/anh-da-ngoai">Ảnh dã ngoại</a></li>
                                        <li><a href="/anh-thien-nhien">Ảnh thiên nhiên</a></li>
                                    </ul>
                                </li>
                                <!-- <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
                                    <ul class="dropdown-menu agile_short_dropdown">
                                        <li><a href="icons.html">Icons</a></li>
                                        <li><a href="code.html">Typography</a></li>
                                    </ul>
                                </li> -->
                                <li><a href="/lien-he">Liên hệ</a></li>
                            </ul>

                        </nav>

                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
            <!-- //nav -->
        </div>
    </header>
    <!-- //header -->
    <div class="w3ls_banner_section second">

    </div>
    <!-- banner-slider -->
    <!-- breadcrumbs -->
    <div class="w3l_agileits_breadcrumbs">
        <div class="container">
            <ul>
                <li><a href="/trang-chu">Trang chủ</a><span>«</span></li>
                <li>@ViewBag.Title</li>
            </ul>
        </div>
    </div>
    <!-- //breadcrumbs -->
    <!--/story-->
    <div class="w3l_inner_section">
        <div class="container">
            <div class="wthree_title_agile">
                <h2>@ViewBag.Title</h2>
                <p><i class="fa fa-heart-o" aria-hidden="true"></i></p>

            </div>
            <p class="">
                @Html.Raw(ViewBag.Message)
        </p>

        <div class="inner_w3l_agile_grids">
            <div class="col-md-4 w3_tabs_grid">
                <div class="grid">
                    <a href="~/Assets/images/g1.jpg" class="lsb-preview" data-lsb-group="header">
                        <figure class="effect-winston">
                            <img src="~/Assets/images/g1.jpg" class="img-responsive" alt=" " />
                            <figcaption>
                                <p>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                </p>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            </div>
            <div class="col-md-4 w3_tabs_grid">
                <div class="grid">
                    <a href="~/Assets/images/g2.jpg" class="lsb-preview" data-lsb-group="header">
                        <figure class="effect-winston">
                            <img src="~/Assets/images/g2.jpg" class="img-responsive" alt=" " />
                            <figcaption>
                                <p>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                </p>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            </div>
            <div class="col-md-4 w3_tabs_grid">
                <div class="grid">
                    <a href="~/Assets/images/g3.jpg" class="lsb-preview" data-lsb-group="header">
                        <figure class="effect-winston">
                            <img src="~/Assets/images/g3.jpg" class="img-responsive" alt=" " />
                            <figcaption>
                                <p>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                </p>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            </div>
            <div class="col-md-4 w3_tabs_grid w3_tabs_grid_sub">
                <div class="grid">
                    <a href="~/Assets/images/g4.jpg" class="lsb-preview" data-lsb-group="header">
                        <figure class="effect-winston">
                            <img src="~/Assets/images/g4.jpg" class="img-responsive" alt=" " />
                            <figcaption>
                                <p>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                </p>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            </div>
            <div class="col-md-4 w3_tabs_grid w3_tabs_grid_sub">
                <div class="grid">
                    <a href="~/Assets/images/g5.jpg" class="lsb-preview" data-lsb-group="header">
                        <figure class="effect-winston">
                            <img src="~/Assets/images/g5.jpg" class="img-responsive" alt=" " />
                            <figcaption>
                                <p>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                </p>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            </div>
            <div class="col-md-4 w3_tabs_grid w3_tabs_grid_sub">
                <div class="grid">
                    <a href="~/Assets/images/g6.jpg" class="lsb-preview" data-lsb-group="header">
                        <figure class="effect-winston">
                            <img src="~/Assets/images/g6.jpg" class="img-responsive" alt=" " />
                            <figcaption>
                                <p>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                </p>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            </div>
            <div class="col-md-4 w3_tabs_grid">
                <div class="grid">
                    <a href="~/Assets/images/g7.jpg" class="lsb-preview" data-lsb-group="header">
                        <figure class="effect-winston">
                            <img src="~/Assets/images/g7.jpg" class="img-responsive" alt=" " />
                            <figcaption>
                                <p>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                </p>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            </div>
            <div class="col-md-4 w3_tabs_grid">
                <div class="grid">
                    <a href="~/Assets/images/g9.jpg" class="lsb-preview" data-lsb-group="header">
                        <figure class="effect-winston">
                            <img src="~/Assets/images/g9.jpg" class="img-responsive" alt=" " />
                            <figcaption>
                                <p>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                </p>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            </div>
            <div class="col-md-4 w3_tabs_grid">
                <div class="grid">
                    <a href="~/Assets/images/g2.jpg" class="lsb-preview" data-lsb-group="header">
                        <figure class="effect-winston">
                            <img src="~/Assets/images/g2.jpg" class="img-responsive" alt=" " />
                            <figcaption>
                                <p>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                </p>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            </div>
            <div class="clearfix"> </div>

        </div>
    </div>


</div>
<!--//story-->
<!--//counter-->
<!-- footer -->
<div class="agile-footer">
    <div class="container">
        <div class="aglie-info-logo">

            <div class="banner-mid-wthree"> <a href="index.html" class="hvr-buzz"> <img src="~/Assets/images/couple.png" alt="wp" /></a> </div>
        </div>
        <ul class="aglieits-nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="gallery.html">Wedding Albums</a></li>
            <li><a href="icons.html">Icons</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
        <div class="w3_agileits_social_media">
            <ul>

                <li><a href="#" class="wthree_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#" class="wthree_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#" class="wthree_dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                <li><a href="#" class="wthree_behance"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
            </ul>
        </div>

        <div class="copy-right">
            <p>© 2017 Wedding Proposer. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
        </div>
    </div>
</div>
<!-- //footer -->

<script type="text/javascript" src="~/Assets/js/jquery-2.1.4.min.js"></script><!-- Required-js -->
<script src="~/Assets/js/bootstrap.min.js"></script><!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="~/Assets/js/responsiveslides.min.js"></script>

<script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider3").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
</script>
<!-- js -->
<!-- //main slider-banner -->
<!-- Countdown-Timer-JavaScript -->
<script src="~/Assets/js/simplyCountdown.js"></script>
<script>
        var d = new Date(new Date().getTime() + 948 * 120 * 120 * 2000);

        // default example
        simplyCountdown('.simply-countdown-one', {
            year: d.getFullYear(),
            month: d.getMonth() + 1,
            day: d.getDate()
        });

        // inline example
        simplyCountdown('.simply-countdown-inline', {
            year: d.getFullYear(),
            month: d.getMonth() + 1,
            day: d.getDate(),
            inline: true
        });

        //jQuery example
        $('#simply-countdown-losange').simplyCountdown({
            year: d.getFullYear(),
            month: d.getMonth() + 1,
            day: d.getDate(),
            enableUtc: false
        });
</script>
<!-- //Countdown-Timer-JavaScript -->
<!-- required-js-files-->
<link href="~/Assets/css/owl.carousel.css" rel="stylesheet">
<script src="~/Assets/js/owl.carousel.js"></script>
<script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({
                items: 5,
                itemsDesktop: [768, 4],
                itemsDesktopSmall: [414, 3],
                lazyLoad: true,
                autoPlay: true,
                navigation: true,

                navigationText: false,
                pagination: true,

            });

        });
</script>
<!--//required-js-files-->
<!-- here stars scrolling icon -->
<script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
</script>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="~/Assets/js/move-top.js"></script>
<script type="text/javascript" src="~/Assets/js/easing.js"></script>
<script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
</script>
<!-- start-smoth-scrolling -->
<!-- //here ends scrolling icon -->
</body>
</html>