﻿<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Chụp hình cưới | Albums :: w3layouts</title>
    <link href="~/Assets/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" /><!-- fontawesome css -->
    <link href="~/Assets/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" /><!-- Bootstrap stylesheet -->
    <link href="~/Assets/css/snow.css" rel="stylesheet" type="text/css" media="all" /><!-- stylesheet -->
    <link href="~/Assets/css/style.css" rel="stylesheet" type="text/css" media="all" /><!-- stylesheet -->
    <!-- meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Wedding Proposer Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //meta tags -->
    <!--fonts-->
    <link href="//fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700" rel="stylesheet">
    <!--//fonts-->
</head>
<body>
    <!-- header -->
    <header>
        <div class="container">
            <!-- nav -->
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="logo">
                            <h1><a href="index.html"><span>WP</span> <div class="logo-img"><img src="~/Assets/images/in-love.png" alt="img09" /></div><p class="sub_title">Wedding Proposer</p> </a></h1>
                        </div>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <nav class="cl-effect-13" id="cl-effect-13">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="/trang-chu">Trang chủ</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dịch vụ chụp ảnh <b class="caret"></b></a>
                                    <ul class="dropdown-menu agile_short_dropdown">
                                        <li><a href="/chup-hinh-cuoi">Chụp hình cưới</a></li>
                                        <li><a href="/dich-vu-chup-hinh-khac">Dịch vụ chụp hình khác</a></li>
                                        <li><a href="/album-cuoi">Album cưới</a></li>
                                        <li><a href="/chan-dung-ngoai-canh">Chân dung ngoại cảnh</a></li>
                                        <li><a href="/anh-da-ngoai">Ảnh dã ngoại</a></li>
                                        <li><a href="/anh-thien-nhien">Ảnh thiên nhiên</a></li>
                                    </ul>
                                </li>
                                <!-- <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
                                    <ul class="dropdown-menu agile_short_dropdown">
                                        <li><a href="icons.html">Icons</a></li>
                                        <li><a href="code.html">Typography</a></li>
                                    </ul>
                                </li> -->
                                <li><a href="/lien-he">Liên hệ</a></li>
                            </ul>

                        </nav>

                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
            <!-- //nav -->
        </div>
    </header>
    <!-- //header -->
    <!-- banner-slider -->
    <div class="w3ls_banner_section">
        <div class="snow-container">
            <div class="snow foreground"></div>
            <div class="snow foreground layered"></div>
            <div class="snow middleground"></div>
            <div class="snow middleground layered"></div>
            <div class="snow background"></div>
            <div class="snow background layered"></div>
        </div>
        <div class="callbacks_container">
            <ul class="rslides" id="slider3">
                <li>

                    <div class="banner_agile-info">
                        <h3>We Make Your Dream True</h3>
                        <p>CREATIVE WEDDING PLANNER</p>
                        <div class="banner-mid-wthree"> <a href="index.html" class="hvr-buzz"> <img src="~/Assets/images/couple.png" alt="wp" /></a> </div>
                    </div>
                </li>
                <li>
                    <div class="banner_agile-info">
                        <h3>We are Getting Married</h3>
                        <p>CREATIVE WEDDING PLANNER</p>
                        <div class="banner-mid-wthree"> <a href="index.html" class="hvr-buzz"> <img src="~/Assets/images/couple.png" alt="wp" /></a> </div>
                    </div>
                </li>
                <li>

                    <div class="banner_agile-info">
                        <h3>We Make Your Dream True</h3>
                        <p>CREATIVE WEDDING PLANNER</p>
                        <div class="banner-mid-wthree"> <a href="index.html" class="hvr-buzz"> <img src="~/Assets/images/couple.png" alt="wp" /></a> </div>
                    </div>
                </li>


            </ul>

            <div class="clearfix"></div>
        </div>


    </div>
    <!--/story-->
    <div class="about_section">
        <div class="container">
            <div class="wthree_title_agile">
                <h2>Our <span>Story</span></h2>
                <p><i class="fa fa-heart-o" aria-hidden="true"></i></p>

            </div>
            <p class="sub_para">WE ARE GETTING MARRIED</p>
            <div class="inner_w3l_agile_grids">
                <!-- Bottom to top-->
                <div class="col-md-6 team-grid">
                    <!-- normal -->
                    <div class="ih-item circle effect10 bottom_to_top">
                        <div class="img"><img src="~/Assets/images/a1.jpg" alt="img" /></div>
                        <div class="info">
                            <h3>John Leo</h3>

                        </div>
                    </div>
                    <!-- end normal -->
                    <h4>Groom</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur velit ac fringilla fermentum. Nulla sodales, magna eget pharetra feugiat nec vulputate purus nisl nec tortor.. </p>
                    <div class="icons">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="team-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 team-grid">
                    <!-- normal -->
                    <div class="ih-item circle effect10 bottom_to_top">
                        <div class="img"><img src="~/Assets/images/a2.jpg" alt="img" /></div>
                        <div class="info">
                            <h3>Rosee Smith</h3>

                        </div>
                    </div>
                    <!-- end normal -->
                    <h4>Bride</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur velit ac fringilla fermentum. Nulla sodales, magna eget pharetra feugiat nec vulputate purus nisl nec tortor.. </p>
                    <div class="icons">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="team-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>


    </div>
    <!--//story-->
    <!--/counter-->
    <div class="agileinfo_counter_section">
        <div class="wthree_title_agile">
            <h3 class="h-t">Wedding <span>Coming Soon</span></h3>
            <p><i class="fa fa-heart-o" aria-hidden="true"></i></p>

        </div>
        <p class="sub_para two">WE ARE GETTING MARRIED</p>
        <div class="wthree-counter-agile">
            <!--timer-->
            <section class="examples">
                <div class="simply-countdown-losange" id="simply-countdown-losange"></div>
                <div class="clearfix"></div>
            </section>

            <!--//timer-->

        </div>
        <div class="clearfix"></div>
    </div>
    <!--//counter-->
    <div class="banner-bottom">
        <!--//screen-gallery-->
        <div class="wthree_title_agile">
            <h3>Latest <span>Couples</span></h3>
            <p><i class="fa fa-heart-o" aria-hidden="true"></i></p>

        </div>
        <p class="sub_para">WE ARE GETTING MARRIED</p>
        <div class="inner_w3l_agile_grids">
            <div class="sreen-gallery-cursual">

                <div id="owl-demo" class="owl-carousel">
                    <div class="item-owl">
                        <div class="test-review">
                            <img src="~/Assets/images/s1.jpg" class="img-responsive" alt="" />
                            <h5>Groom</h5>
                        </div>
                    </div>
                    <div class="item-owl">
                        <div class="test-review">
                            <img src="~/Assets/images/s2.jpg" class="img-responsive" alt="" />
                            <h5>Bride</h5>
                        </div>
                    </div>
                    <div class="item-owl">
                        <div class="test-review">
                            <img src="~/Assets/images/s3.jpg" class="img-responsive" alt="" />
                            <h5>Groom</h5>
                        </div>
                    </div>
                    <div class="item-owl">
                        <div class="test-review">
                            <img src="~/Assets/images/s4.jpg" class="img-responsive" alt="" />
                            <h5>Bride</h5>
                        </div>
                    </div>
                    <div class="item-owl">
                        <div class="test-review">
                            <img src="~/Assets/images/s1.jpg" class="img-responsive" alt="" />
                            <h5>Groom</h5>
                        </div>
                    </div>
                    <div class="item-owl">
                        <div class="test-review">
                            <img src="~/Assets/images/s5.jpg" class="img-responsive" alt="" />
                            <h5>Bride</h5>
                        </div>
                    </div>
                    <div class="item-owl">
                        <div class="test-review">
                            <img src="~/Assets/images/s3.jpg" class="img-responsive" alt="" />
                            <h5>Groom</h5>
                        </div>
                    </div>
                    <div class="item-owl">
                        <div class="test-review">
                            <img src="~/Assets/images/s4.jpg" class="img-responsive" alt="" />
                            <h5>Bride</h5>
                        </div>
                    </div>
                    <div class="item-owl">
                        <div class="test-review">
                            <img src="~/Assets/images/s1.jpg" class="img-responsive" alt="" />
                            <h5>Groom</h5>
                        </div>
                    </div>
                    <div class="item-owl">
                        <div class="test-review">
                            <img src="~/Assets/images/s2.jpg" class="img-responsive" alt="" />
                            <h5>Bride</h5>
                        </div>
                    </div>
                    <div class="item-owl">
                        <div class="test-review">
                            <img src="~/Assets/images/s3.jpg" class="img-responsive" alt="" />
                            <h5>Groom</h5>
                        </div>
                    </div>
                    <div class="item-owl">
                        <div class="test-review">
                            <img src="~/Assets/images/s5.jpg" class="img-responsive" alt="" />
                            <h5>Bride</h5>
                        </div>
                    </div>
                </div>
                <!--//screen-gallery-->
            </div>
        </div>
    </div>
    <!-- /property-grids -->
    <div class="property-grids">
        <div class="agile-homes-w3l  grid">
            <div class="col-md-6 home-agile-left">
                <figure class="effect-moses">
                    <img src="~/Assets/images/p1.jpg" alt="" />
                    <figcaption>
                        <h4>Wedding Proposer</h4>
                        <p>We Make Your Dream True</p>
                    </figcaption>
                </figure>

            </div>
            <div class="col-md-6 home-agile-text">
                <h4>Wedding Ceremony</h4>
                <p>Duis aute irure dolor reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Lorem Duis aute irure dolor reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <div class="date">
                    <h5><i class="fa fa-calendar" aria-hidden="true"></i> March 20 2017</h5>
                    <h5><i class="fa fa-clock-o" aria-hidden="true"></i> 10.00am to 12.00pm</h5>
                </div>
                <div class="icon_wthree"><img src="~/Assets/images/ring.png" alt="" /></div>
            </div>
            <div class="clearfix"></div>

            <div class="col-md-6 home-agile-text">
                <h4>Wedding Dinner</h4>
                <p>Duis aute irure dolor reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Lorem Duis aute irure dolor reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <div class="date">
                    <h5><i class="fa fa-calendar" aria-hidden="true"></i> March 20 2017</h5>
                    <h5><i class="fa fa-clock-o" aria-hidden="true"></i> 12.00pm to 2.00pm</h5>
                </div>
                <div class="icon_wthree"><i class="fa fa-cutlery" aria-hidden="true"></i></div>

            </div>
            <div class="col-md-6 home-agile-left">
                <figure class="effect-moses">
                    <img src="~/Assets/images/p2.jpg" alt="" />
                    <figcaption>
                        <h4>Wedding Proposer</h4>
                        <p>We Make Your Dream True</p>
                    </figcaption>
                </figure>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //property-grids -->
    <!-- /Events-->
    <div class="wthree-news text-center">
        <div class="container">
            <div class="wthree_title_agile">
                <h3>Our <span>Events</span></h3>
                <p><i class="fa fa-heart-o" aria-hidden="true"></i></p>

            </div>
            <p class="sub_para">OUR WEDDING EVENTS</p>
            <div class="inner_w3l_agile_grids">
                <div class="col-md-6 wthree-right">
                    <div class="w3-agile-left">
                        <div class="work-left">
                            <h4>22 july</h4>
                        </div>
                        <div class="agileits-right text-left">
                            <a href="single.html">News post-1</a>
                            <p>
                                Duis aute irure dolor reprehenderit in voluptate velit esse cillum dolore eu
                                fugiat nulla pariatur.
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="wel-right">
                        <div class="content-item item-image1">
                            <a href="single.html"><img src="~/Assets/images/e1.jpg" alt="" /></a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-6 wthree-right no-marg">
                    <div class="wel-right2">
                        <div class="content-item item-image2">
                            <a href="single.html"><img src="~/Assets/images/e2.jpg" alt="" /></a>
                        </div>
                    </div>
                    <div class="w3-agile-left2">
                        <div class="work-left">
                            <h4>02 Aug</h4>
                        </div>
                        <div class="agileits-right text-left">
                            <a href="single.html">News post-2</a>
                            <p>
                                Duis aute irure dolor reprehenderit in voluptate velit esse cillum dolore eu
                                fugiat nulla pariatur.
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6 wthree-right">
                    <div class="w3-agile-left">
                        <div class="work-left">
                            <h4>12 Sep</h4>
                        </div>
                        <div class="agileits-right text-left">
                            <a href="single.html">News post-3</a>
                            <p>
                                Duis aute irure dolor reprehenderit in voluptate velit esse cillum dolore eu
                                fugiat nulla pariatur.
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="wel-right ">
                        <div class="content-item item-image1">
                            <a href="single.html"><img src="~/Assets/images/e3.jpg" alt="" /></a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-6 wthree-right no-marg">
                    <div class="wel-right2">
                        <div class="content-item item-image2">
                            <a href="single.html"><img src="~/Assets/images/e4.jpg" alt="" /></a>
                        </div>
                    </div>
                    <div class="w3-agile-left2">
                        <div class="work-left">
                            <h4>15 Nov</h4>
                        </div>
                        <div class="agileits-right text-left">
                            <a href="single.html">News post-4</a>
                            <p>
                                Duis aute irure dolor reprehenderit in voluptate velit esse cillum dolore eu
                                fugiat nulla pariatur.
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //Events-->
    <!--/bottom-->
    <div class="agileinfo_bottom_section">

        <div class="snow-container two">
            <div class="snow foreground"></div>
            <div class="snow foreground layered"></div>
            <div class="snow middleground"></div>
            <div class="snow middleground layered"></div>
            <div class="snow background"></div>
            <div class="snow background layered"></div>
        </div>
        <div class="agile-w3l-sec">
            <h3>The best gift will be your participation, thanks to all</h3>
            <p>Jasmin <span>&</span> Kyle Lee</p>
            <div class="banner-mid-wthree"> <a href="index.html" class="hvr-buzz"> <i class="fa fa-heart-o" aria-hidden="true"></i></a> </div>
        </div>

    </div>

    <!--//bottom-->
    <!-- footer -->
    <div class="agile-footer">
        <div class="container">
            <div class="aglie-info-logo">

                <div class="banner-mid-wthree"> <a href="index.html" class="hvr-buzz"> <img src="~/Assets/images/couple.png" alt="wp" /></a> </div>
            </div>
            <ul class="aglieits-nav">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="gallery.html">Wedding Albums</a></li>
                <li><a href="icons.html">Icons</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
            <div class="w3_agileits_social_media">
                <ul>

                    <li><a href="#" class="wthree_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="wthree_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="wthree_dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="wthree_behance"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                </ul>
            </div>

            <div class="copy-right">
                <p>© 2017 Wedding Proposer. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
            </div>
        </div>
    </div>
    <!-- //footer -->

    <script type="text/javascript" src="~/Assets/js/jquery-2.1.4.min.js"></script><!-- Required-js -->
    <script src="~/Assets/js/bootstrap.min.js"></script><!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Assets/js/responsiveslides.min.js"></script>

    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider3").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!-- js -->
    <!-- //main slider-banner -->
    <!-- Countdown-Timer-JavaScript -->
    <script src="~/Assets/js/simplyCountdown.js"></script>
    <script>
        var d = new Date(new Date().getTime() + 948 * 120 * 120 * 2000);

        // default example
        simplyCountdown('.simply-countdown-one', {
            year: d.getFullYear(),
            month: d.getMonth() + 1,
            day: d.getDate()
        });

        // inline example
        simplyCountdown('.simply-countdown-inline', {
            year: d.getFullYear(),
            month: d.getMonth() + 1,
            day: d.getDate(),
            inline: true
        });

        //jQuery example
        $('#simply-countdown-losange').simplyCountdown({
            year: d.getFullYear(),
            month: d.getMonth() + 1,
            day: d.getDate(),
            enableUtc: false
        });
    </script>
    <!-- //Countdown-Timer-JavaScript -->
    <!-- required-js-files-->
    <link href="~/Assets/css/owl.carousel.css" rel="stylesheet">
    <script src="~/Assets/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({
                items: 5,
                itemsDesktop: [768, 4],
                itemsDesktopSmall: [414, 3],
                lazyLoad: true,
                autoPlay: true,
                navigation: true,

                navigationText: false,
                pagination: true,

            });

        });
    </script>
    <!--//required-js-files-->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/Assets/js/move-top.js"></script>
    <script type="text/javascript" src="~/Assets/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- //here ends scrolling icon -->
</body>
</html>